//------------------------------------------------------------------
// Button styles
//------------------------------------------------------------------

.cms {
  .btn {
    font-size: .9rem;
  }

  .actions-warning {
    background: $yellow-light;
    color: $text;
    padding-top: .45rem;
  }

  .btn-group .btn-primary {
    border-color: $highlight;
  }

  .btn-primary {
    transition: all 222ms ease !important;
    background: $highlight;
    border-color: $highlight;
    color: $white !important;

    &:focus {
      box-shadow: 0 5px 15px rgba($black, .05), 0 4px 10px rgba($highlight, .25);
    }

    &:active,
    &:hover {
      background-color: darken($highlight, 3%);
      border-color: darken($highlight, 3%);
      box-shadow: 0 5px 15px rgba($black, .05), 0 4px 10px rgba($highlight, .25);
    }

    &:active:focus {
      background-color: darken($highlight, 3%) !important;
      box-shadow: 0 0 0 0.2rem rgba($highlight, .5) !important;
      color: $white !important;
    }

    &.disabled {
      opacity: 1;
      background: $grey-mid-alt;
      border-color: $grey-mid-alt;
    }
  }

  .btn-outline-primary {
    transition: all 222ms ease !important;
    border-color: $highlight;
    color: $highlight;

    &:focus {
      box-shadow: 0 5px 15px rgba($black, .05), 0 4px 10px rgba($highlight, .25);
      background-color: lighten($highlight, 35%) !important;
      border-color: darken($highlight, 3%) !important;
      color: $highlight !important;
    }

    &:active,
    &:hover {
      background-color: lighten($highlight, 35%) !important;
      border-color: darken($highlight, 3%) !important;
      color: $highlight !important;
      box-shadow: 0 5px 15px rgba($black, .05), 0 4px 10px rgba($highlight, .25) !important;
    }
  }
}

.btn__loading-icon {
  .btn__circle {
    background: $highlight !important;
  }
}

.cms-batch-actions .btn {
  padding-top: 9px;
  padding-bottom: 8px;
}
