//------------------------------------------------------------------
// Campaign
//------------------------------------------------------------------

.campaign-info__banner-image {
  width: 100px !important;
  height: auto !important;
  transform: translateY(1rem) !important;
}