//------------------------------------------------------------------
// Floating Cards
//------------------------------------------------------------------

%panel {
  @include shadow;
  width: calc(100% - 8rem);
  max-width: 80rem;
  overflow: visible;
  border-radius: .625rem;
  margin: 4rem auto 7rem;
  background: $white !important;
  padding: 2rem 4rem !important;
  flex-grow: auto;

  .form {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.modal-content {
  @extend %panel;
  padding: 0 2rem !important;
}

.ui-widget-content.cms-panel-padded {
  @extend %panel;
  padding: 2rem 0 !important;
}

div:not(.cms-content-fields) .panel--padded:not(.cms-tree-view-sidebar) {
  @extend %panel;
}

.cms .cms-content {
  background: $off-white !important;
}

.toolbar--content {
  margin: 0;
  padding: 0;
}

.cms .cms-panel-padded .cms-content-view {
  padding-top: 0;
  height: 100%;
}

.cms-content-filters {
  border: 0;
}

