.focuspoint-picker__overlay {
  border: 1px solid $highlight;
  box-shadow: none;
}

.focuspoint-picker__gradient {
  background: radial-gradient(circle 80px at center center, rgba($highlight, 0) 33%, rgba($highlight, .5));
}