.cms {
  .ss-gridfield-orderable .col-reorder .handle .icon {
    position: relative;
    left: 20px;
  }
  .grid-field {
    .btn-toolbar {
      top: -30px;
      position: relative;
    }

    &__table {
      tr {
        th {
          &.extra {
            background: $highlight;
          }
        }
      }
    }
    .add-existing-autocompleter input.relation-search {
      width: 290px;
    }

    &__sort {
      &.ss-gridfield-sorted-asc,
      &.ss-gridfield-sorted-desc {
        border-color: $highlight;

        &:after {
          color: $highlight;
        }
      }
    }
  }
}
