//------------------------------------------------------------------
// Left Menu
//------------------------------------------------------------------

.cms .cms-container {
  .toolbar.toolbar--south.cms-panel-toggle.vertical-align-items {
    background: $white;
    box-shadow: none;
    border: 0;
  }

  .cms-panel-toggle {
    width: 100%;
  }

  .cms-menu {
    @include shadow-dark;
    z-index: 111;
    background: $white;
    border: 0;

    .collapsedLogo {
      display: none;
    }

    .uncollapsedLogo {
      img {
        height: 100%;
        width: auto;
      }
    }

    &.collapsed {
      .cms-sitename__link {
        opacity: 0;
      }
      .uncollapsedLogo {
        display: none;
      }
      @include shadow-darker;
      border-right: 1px solid $grey-light !important;

      .sticky-toggle:before {
        display: none !important;
      }

      .cms-sitename__title {
        left: 0;
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        right: 0;

        .collapsedLogo {
          display: block;

          img {
            width: 100%;
            height: 100%;
            position: absolute;
          }
        }
      }
    }

    .cms-panel-content {
      box-shadow: none;
    }
  }

  .cms-login-status,
  .cms-login-status a {
    background: $highlight !important;
  }

  .cms-sitename {
    background: $white !important;
    border: 0;

    &__title {
      @include regular;
      font-size: 1.2rem;
      color: $highlight !important;
    }

    .font-icon-silverstripe:before {
      color: $highlight;
    }
  }

  .cms-menu__list {
    padding: 0;
    background: $white;

    li {
      width: 180px;
      position: relative;
      overflow: hidden;

      a {
        background: $white;
        color: $text;
        position: relative;
        box-shadow: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 180px;
        padding-left: 0;
        padding-top: 0;
        padding-bottom: 0;
        transition: all 222ms ease;

        &:before {
          @include pseudo;
          width: 4px;
          top: 0;
          left: 0;
          bottom: 0;
          position: absolute;
          background: $white;
          transition: all 222ms ease;
          transform: translateX(-100%);
        }

        .menu__icon {
          padding: 1rem 0.5rem 1rem 0;
          line-height: 1;
          left: 18px;

          &:before {
            color: $grey-mid;
            transition: all 333ms ease;
          }
        }

        .text {
          @include regular;
          padding: 0.5rem 0.5rem 0.5rem 2rem;
          line-height: 1;
          font-size: 1rem;
        }
      }

      a:focus {
        background: $off-white;
        color: $white;

        &:before {
          @include pseudo;
          width: 4px;
          background: $off-white;
          top: 0;
          left: 0;
          bottom: 0;
          position: absolute;
        }

        .menu__icon:before {
          color: $text;
        }
      }

      &:hover a,
      &.current a,
      a:focus {
        background: $off-white;
        color: $highlight;

        &:before {
          @include pseudo;
          width: 4px;
          background: $highlight;
          top: 0;
          left: 0;
          bottom: 0;
          position: absolute;
          transform: translateX(0);
        }

        .menu__icon:before {
          color: $highlight;
        }
      }
    }
  }

  .toggle-expand,
  .toggle-collapse {
    span {
      width: 2rem;
      font-size: 0;
      position: relative;

      &:hover {
        &:after,
        &:before {
          color: $highlight;
        }
      }

      &:before {
        @extend %material-icons;
        font-size: 24px;
        content: '\e314';
        position: absolute;
        transform: translateX(3px);
        left: 0;
        right: 0;
        margin: 0 auto;
      }

      &:after {
        @extend %material-icons;
        font-size: 24px;
        content: '\e314';
        position: absolute;
        transform: translateX(-3px);
        left: 0;
        right: 0;
        margin: 0 auto;
      }
    }
  }

  .toggle-expand {
    span {
      &:before {
        content: '\e315';
      }

      &:after {
        content: '\e315';
      }
    }
  }

  .sticky-toggle {
    position: absolute;
    text-indent: 0;
    font-size: 0;
    height: 1.5rem;
    width: 2rem;
    background: none;
    left: 0 !important;
    transform: translateX(4px);

    &:before {
      @extend %material-icons;
      font-size: 24px;
      content: '\e8d4';
      position: absolute;
      color: $text;
      right: 0;
      left: 0;
      top: 0;
      margin: 0 auto;
    }
  }

  .cms-help__toggle {
    display: none;
  }

  .cms-menu .sticky-toggle__button {
    width: 24px;
    height: 20px;
    padding: 0 0px;
    margin-top: 28px;
    outline: 0;
  }

  .sticky-toggle:before {
    top: 26px !important;
    left: 21px !important;
  }
}

.cms {
  .cms-menu {
    .cms-subsites {
      padding-top: 1rem;
      background: $grey-light;

      .chosen-single div b {
        margin-left: -0.2rem !important;
        margin-top: 0.2rem !important;
      }
    }
  }
}

.cms {
  .jstree-no-checkboxes {
    padding-right: 1.4rem !important;
  }
}

.cms {
  .group {
    margin-left: 5px !important;
    .menu__icon {
      left: 10px !important;
    }
    .text {
      margin-left: 15px !important;
    }
  }
}

.panel--scrollable {
  &::-webkit-scrollbar-track {
    background-color: #ebebeb;
  }

  &::-webkit-scrollbar {
    width: 3px;
    background-color: #ebebeb;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #cdd4e0;
  }
}

.cms .cms-panel-padded .cms-content-view {
  overflow: auto;
  &::-webkit-scrollbar-track {
    background-color: #ebebeb;
  }

  &::-webkit-scrollbar {
    width: 3px;
    background-color: #ebebeb;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #cdd4e0;
  }
}
