//------------------------------------------------------------------
// Left Menu
//------------------------------------------------------------------

.toolbar.toolbar--south.cms-panel-toggle.vertical-align-items {
  background: $white;
  box-shadow: none;
  border: 0;
}

.cms-menu {
  @include shadow-dark;
  z-index: 111;
  background: $white;
  border: 0;

  &.collapsed {
    @include shadow-darker;
    border-right: 1px solid $grey-light !important;
  }

  .cms-panel-content {
    box-shadow: none;
  }

}

.cms-login-status,
.cms-login-status a {
  background: $highlight !important;
}

.cms-sitename {
  background: $white !important;
  border: 0;

  &__title {
    @include regular;
    font-size: 1.2rem;
    color: $highlight !important;
  }

  .font-icon-silverstripe:before {
    color: $highlight;
  }
}

.cms-menu__list {
  padding: 0;
  background: $white;

  li {
    width: 180px;
    position: relative;
    overflow: hidden;

    a {
      background: $white;
      color: $text;
      position: relative;
      box-shadow: none;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      width: 180px;
      padding-left: 0;
      padding-top: 0;
      padding-bottom: 0;
      transition: all 222ms ease;

      &:before {
        @include pseudo;
        width: 4px;
        top: 0;
        left: 0;
        bottom: 0;
        position: absolute;
        background: $white;
        transition: all 222ms ease;
        transform: translateX(-100%);
      }

      .menu__icon {
        padding: 1rem .5rem 1rem 0;
        line-height: 1;
        left: 18px;

        &:before {
          color: $grey-mid;
          transition: all 333ms ease;
        }
      }

      .text {
        @include regular;
        padding: .5rem .5rem .5rem 2rem;
        line-height: 1;
        font-size: 1rem;
      }

    }

    a:focus {
      background: $off-white;
      color: $white;

      &:before {
        @include pseudo;
        width: 4px;
        background: $off-white;
        top: 0;
        left: 0;
        bottom: 0;
        position: absolute;
      }

      .menu__icon:before {
        color: $text;
      }
    }

    &:hover a,
    &.current a,
    a:focus {
      background: $off-white;
      color: $highlight;

      &:before {
        @include pseudo;
        width: 4px;
        background: $highlight;
        top: 0;
        left: 0;
        bottom: 0;
        position: absolute;
        transform: translateX(0);
      }

      .menu__icon:before {
        color: $highlight;
      }
    }
  }
}



