.notice-wrap {
  //top: auto;
  //bottom: .7rem;
  top: 6rem;

  .notice-item {
    border-color: darken($highlight, 3%) !important;
    color: $highlight !important;
    border: 1px solid darken($highlight, 3%) !important;
    box-shadow: 0 5px 15px rgba($black, .05), 0 4px 10px rgba($highlight, .25);
    min-height: 51px;

    &.error {
      border-color: darken($red-light, 3%) !important;
      border: 1px solid darken($red-light, 3%) !important;
      box-shadow: 0 5px 15px rgba($black, .05), 0 4px 10px rgba($red-light, .25);
      color: $red-light !important;
    }

    .notice-item-close {
      top: 2px;
    }
  }
}