.pancake {
  padding: 0 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 90rem;
}

.card {
  @include aspect(2, 1);
  overflow: hidden;
  width: calc(25% - 2rem) !important;
  box-shadow: 0 2px 0 rgba(90, 97, 105, .11), 0 4px 8px rgba(90, 97, 105, .12), 0 10px 10px rgba(90, 97, 105, .06), 0 7px 70px rgba(90, 97, 105, .1);
  border-radius: .625rem;
  margin: 4rem 1rem 1rem;
  background: $white !important;
  padding: 0 !important;
  border: 0;

  canvas {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .5;
  }

  &__copy {
    @include vertical-center;
    text-align: center;
    z-index: 3;

    h1 {
      font-weight: 500;
      font-size: 3rem;
      color: $text;
    }
  }

}

.panelCard {
  width: 100%;
  box-shadow: 0 2px 0 rgba(90, 97, 105, .11), 0 4px 8px rgba(90, 97, 105, .12), 0 10px 10px rgba(90, 97, 105, .06), 0 7px 70px rgba(90, 97, 105, .1);
  border-radius: .625rem;
  margin: 2rem 1rem;
  background: $white !important;
  border: 0;
  position: relative;
  padding: 0 2rem !important;

  h1 {
    margin: 2rem 0;
  }

  .canvasWrap {
    @include aspect(1920, 900);
    width: 100%;
  }

  canvas {
    @include full;
    max-width: 100% !important;
    z-index: 3;
  }
}
