//------------------------------------------------------------------
// Quick Blocks
//------------------------------------------------------------------

.col-IconForCMS {
  img {
    width: 40px;
    height: auto;
  }
}

.published {
  font-size: 12px;
}

header,
.Chartjs {
  width: 100%;
}
