
.cms-preview .panel {
  height: 100%;
}

.cms-preview-controls,
.cms-content-actions {
  @include shadow;
  @include shadow-darker;
  box-shadow: 0 5px 15px rgba($black, .05), 0 4px 10px rgba($highlight, .25);
  backface-visibility: hidden;
  position: sticky;
  background: $white;
  right: 0;
  left: 0;
  right: auto;
  left: auto;
  max-width: 29rem;
  bottom: 1.5rem;
  margin: 0 auto;
  border-radius: .3rem;
  border: 1px solid $highlight;
  width: auto;
  z-index: 9;
  //left: 241px;
  //left: 180px;
}

//
//.cms-content-tools.collapsed ~ .fill-height.flexbox-area-grow {
//  .cms-content-actions {
//    left: 241px;
//  }
//}
//
//.cms-menu.collapsed ~ .fill-height.flexbox-area-grow {
//  .cms-content-actions {
//    left: 121px;
//  }
//}
//
//.cms-content-tools:not(.collapsed) ~ .fill-height.flexbox-area-grow {
//  .cms-content-actions {
//    left: 360px;
//  }
//}
//
//.cms-menu:not(.collapsed) ~ .fill-height.flexbox-area-grow .cms-content-tools:not(.collapsed) ~ .fill-height.flexbox-area-grow {
//  .cms-content-actions {
//    left: 481px;
//  }
//}