//------------------------------------------------------------------
// Chosen
//------------------------------------------------------------------

.cms .cms-container {
  .chosen-container {
    .chosen-choices,
    .chosen-single {
      @include regular;
      background: white;
      box-shadow: none;
      border: 1px solid $beautiful-grey-light;
      transition: all 222ms ease;
      z-index: 3;

      .search-choice {
        background: $beautiful-highlight;
        color: white;
        border: 0;
        box-shadow: none;

        .search-choice-close {
          color: white;
          filter: brightness(300%) !important;
        }
      }

      &:hover {
        border-color: $beautiful-grey-mid;
      }

      // div b {
      //   background-image: none !important;

      //   &:after {
      //     @include pseudo;
      //     @extend %material-icons;
      //     content: '\e313';
      //     top: .3rem;
      //     transition: all 333ms ease;
      //   }
      // }
    }

    &.chosen-container-active {
      .chosen-choices,
      .chosen-single {
        border-color: $beautiful-highlight;
        box-shadow: 0 .313rem .719rem rgba($beautiful-text, .1), 0 .156rem .125rem rgba(black, .06);
      }
    }

    &.chosen-with-drop {
      .chosen-single {
        div b:after {
          transform: rotate(-180deg);
        }
      }
    }

    .chosen-drop {
      border: 1px solid $beautiful-highlight;
      margin-top: -2px;

      .chosen-search {
        padding: 0 .8rem !important;

        .chosen-search-input {
          @include regular;
          border: 1px solid $beautiful-grey-light;
          color: $beautiful-text;
          border-radius: .2rem;
          padding: .5rem 1rem;

          &:hover {
            border-color: $beautiful-grey-mid;
          }

          &:focus {
            border-color: $beautiful-highlight;
            box-shadow: 0 .313rem .719rem rgba($beautiful-text, .1), 0 .156rem .125rem rgba(black, .06);
          }
        }
      }

      .chosen-results {
        padding: .4rem;

        &::-webkit-scrollbar-track {
          background-color: $beautiful-grey-light;
        }

        &::-webkit-scrollbar {
          width: 5px;
          background-color: $beautiful-grey-light;
        }

        &::-webkit-scrollbar-thumb {
          background-color: $beautiful-grey-mid;
          border-radius: 0;
          border: 0;
        }

        .active-result {
          font-size: 1rem;

          &.result-selected,
          &.highlighted {
            background: $beautiful-highlight !important;
            color: white !important;
            border-radius: .2rem;

            &:before {
              color: white;
              background: transparent !important;
            }
          }
        }
      }
    }
  }
}

.toolbar--south {
  .chosen-single {
    border: 0 !important;
    box-shadow: none !important;
  }

  .chosen-drop {
    border-radius: .2rem !important;
    box-shadow: 0 .313rem .719rem rgba($beautiful-text, .1), 0 .156rem .125rem rgba(black, .06) !important;
  }
}

.chosen-container-multi .chosen-results {
  padding: .4rem;
}

.gallery__sort .chosen-drop {
  margin-top: 1rem !important;

  border: 1px solid $beautiful-highlight !important;
  box-shadow: 0 .313rem .719rem rgba($beautiful-text, .1), 0 .156rem .125rem rgba(black, .06);
  background: white !important;
  border-radius: .3rem !important;
  margin-top: 1rem !important;

  &:before {
    @include pseudo;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 10px;
    border-color: transparent transparent $beautiful-highlight transparent;
    bottom: 100%;
    right: 1rem;
  }

  &:after {
    @include pseudo;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 10px;
    border-color: transparent transparent white transparent;
    bottom: 100%;
    transform: translateY(1.5px);
    right: 1rem;
  }
}

.cms {
  .gallery__sort .chosen-single {
    outline: none !important;
    border-radius: .3rem !important;

    > span {
      text-align: left;
      padding-left: .1rem;
    }
    > div b:after {
      top: 0 !important;
      right: .1rem;
    }
  }
}