//------------------------------------------------------------------
// Main Content
//------------------------------------------------------------------

.cms .cms-content {
  background: $beautiful-off-white !important;
}

.flexbox-area-grow {
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

.form--fill-height fieldset,
.gallery__outer,
.flexbox-area-grow.fill-height {
  &::-webkit-scrollbar-track {
    background-color: $beautiful-grey-light;
  }

  &::-webkit-scrollbar {
    width: 5px;
    background-color: $beautiful-grey-light;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $beautiful-grey-mid;
    border-radius: 0;
    border: 0;
  }
}

.cms-content-header,
.toolbar--north {
  @include shadow-north;
  background: white;
  border: 0;
}

.toolbar--south {
  border: 0;
}

.cms-content-tools {
  background: $beautiful-off-white;
}

#Form_AddForm_PageType {
  .form__field-description {
    background: transparent;
    color: $beautiful-text;
    opacity: 0.8;

    &:before {
      display: none;
    }
  }
}

.toolbar--content {
  z-index: 3;
}

a {
  color: $beautiful-highlight;
}

#Form_EditForm {
  height: auto !important;

  fieldset {
    padding-top: 2rem;
  }

  &::-webkit-scrollbar-track {
    background-color: $beautiful-grey-light;
  }

  &::-webkit-scrollbar {
    width: 5px;
    background-color: $beautiful-grey-light;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $beautiful-grey-mid;
    border-radius: 0;
    border: 0;
  }
}
