.cms {
  .ss-gridfield-orderable .col-reorder .handle .icon {
    position: relative;
    left: 20px;
  }

  .grid-field {
    .pull-xs-right + .btn-toolbar {
      top: 5px;
    }

    .grid-field__title {
      padding-top: 2.5rem;
    }

    .btn-toolbar {
      top: -30px;
      position: relative;
    }

    &__table {
      tr {
        th {
          &.extra {
            background: $beautiful-highlight;
          }
        }
      }
    }
    .add-existing-autocompleter input.relation-search {
      width: 290px;
    }

    &__sort {
      &.ss-gridfield-sorted-asc,
      &.ss-gridfield-sorted-desc {
        border-color: $beautiful-highlight;

        &:after {
          color: $beautiful-highlight;
        }
      }
    }
  }
}
