//------------------------------------------------------------------
// Icon Field
//------------------------------------------------------------------

body {
  ul.field.IconField {
    @include clearfix;
    background: $beautiful-grey-mid;
    border: 0 !important;
    border-radius: 0.3rem;
  }

  .field.IconField .option input:checked + label {
    background: darken($beautiful-grey-mid, 6%);
    border: 1px solid white;
    border-radius: 0.3rem;
  }

  .field.IconField .option label {
    border-radius: 0.3rem;
  }

  .field.IconField .option {
    margin-top: 5px;
    margin-bottom: -2px;
    float: left;
    list-style: none;

    input {
      display: none;
    }

    img {
      width: 6rem;
      height: auto;
      cursor: pointer;
    }
  }

  .field.IconField .option:first-child label:after {
    color: white;
  }
}
