//------------------------------------------------------------------
// Switches
//------------------------------------------------------------------

.cms .cms-container {
  .switch {
    box-shadow: none;

    a.active {
      background: $beautiful-highlight;
      box-shadow: none;
    }
  }
}