$white: #fff;
$off-white: #fbfbfb;
$off-cream: #f5f6f8;
$grey-light: #e1e5eb;
$grey-mid: #b3bdcc;
$grey-mid-alt: #c1cad9;
$grey-dark: #5a6168;
$grey-darker: #252525;
$text: #3d5070;
$yellow-light: #ffd571;
$green-light: #eaf6e4;
$green-dark: #72c34a;
$black: #000;
$red-light: #b75650;
$highlight: #b7106d;
$highlight: #e75931;
$highlight: #4caf50;
$highlight: #8e44ad;
$highlight: #00b8d9;
$highlight: #5a6169;
$highlight: #3f3f40;

:root {
    --primary-colour: #377bff;
    --secondary-colour: #0f1b25;
}

$highlight: #377bff !default;
$highlight: var(--primary-colour);
