@font-face {
  font-family: 'google_sansbold';
  src: url('../fonts/googlesans-bold-webfont.woff2') format('woff2'),
  url('../fonts/googlesans-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'google_sansmedium';
  src: url('../fonts/googlesans-medium-webfont.woff2') format('woff2'),
  url('../fonts/googlesans-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'google_sansregular';
  src: url('../fonts/googlesans-regular-webfont.woff2') format('woff2'),
  url('../fonts/googlesans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@mixin regular {
  font-family: 'google_sansregular', san-serif;
  font-weight: normal;
}

@mixin medium {
  font-family: 'google_sansmedium', san-serif;
  font-weight: normal;
}

@mixin bold {
  font-family: 'google_sansbold', san-serif;
  font-weight: normal;
}

* {
  @include regular;
}

